@font-face {
    font-family: Satoshi;
    src: url(./fonts/Satoshi-Regular.otf),
    url(./fonts/Satoshi-Regular.ttf)
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

*::after,*::before,* {
    box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6,span,div,nav,header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
}



.nav--bar   {
    background-color: rgba(239, 248, 255, 1);
    width:100%;
    padding: 10px 120px;
    display: flex;
    border: none;
    outline: none;
    
}

.login--button {
    margin-left: auto;
    /* align-items: center; */
    width: 120px;
    height: 50px;
    background: #025595;
    border-radius: 16px;
    color: rgba(239, 248, 255, 1);
    border: none;
}

.nav--logo {
    width: 60px;
    height: 50px;
    margin-right: auto;
}

a {
    text-decoration:none;
    cursor: pointer;
}
.nav--bar ul > li {
    display: inline;
    list-style: none;
    margin-right: 1.5em;
    text-transform: capitalize;
    font-family: Satoshi;
    color: #16100D;

}

.hamburger {
    display: none;
}

header {
    height: 500px;
    background-image: url(./imges/modern-residential-building-transformed\ 1.svg);
    background-repeat: no-repeat;
    background-position: 100% bottom;
    background-size:62% 100%;
    background-color:rgba(239, 248, 255, 1);

}

li {
    list-style: none;
}

.hero--section {
    width: 60%;
    margin-left:120px ;
    height: 450px;
    /* border: 2px solid red; */
    height: 100%;
}

.hero--section--heading {
    height: 160px;
    width: 80%;
    padding-top:21px ;
    /* border: 2px solid navy; */
}

.hero--section--heading > h1 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    /* or 133% */
    color: #16100D;    
}

.hero--section--heading > p {
    width: 535px;
    height: 68px;
    left: 150px;
    top: 352px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */
    color: rgba(22, 16, 13, 0.5);
}

.header--form {
    /* margin-top:100px ; */
    margin-top: 5em;
    /* border: 2px solid pink; */
    width: 100%;
    height: 80px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */
    color: rgba(22, 16, 13, 0.5);
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 16px;
}

.header--signbord {
    display: flex;
    margin-top:20px ;
}

.header--signbord > div  h3{
    margin-right: 3em;
    font-family: 'Syne';    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height */
    color: #16100D;
}

.header--signbord > p {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #16100D;
}
 
.container {
    
    height: 450px;
    width: 90%;
    margin: 3em 5em;
    /* border: 2px solid yellow; */
}

.container--header {
    margin: 2em 5em;
    width: 80%;
    height: 120px;
    /* border: 2px solid yellowgreen; */
    text-align: center;

}

.container--header > h4 {
    font-weight: 700;
    font-size: 40px;
    color: #16100D; 
    /* padding-top:50px ; */
    margin: 20px;
    font-family: Satoshi;
}

.container--header > p {
    height: 40%;
    text-align: center;
    /* border: 2px solid lawngreen; */
    font-weight: 400;
    margin: 0 16em;
    width: 47%;
    font-size: 16px;
    color: rgba(22, 16, 13, 0.5);
    color:rgba(22, 16, 13, 0.5);
    font-family: Satoshi;
}

.container--cards {
    margin-top:0 ;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

}

.container--cards  div {
    padding: 20px 20px;
    width: 300px;
    height: 200px;
   
}



#hand ,#vector , #search{
    width: 24px;
    height: 22px;
    position: relative;
    bottom: 33px;
    left: 8px;

}



.container--cards.home {
    width: 35px;
    height: 35px;
    /* position: relative; */
}


.container--cards h4 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
}

.container--cards p {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: rgba(22, 16, 13, 0.5);
}

.container--card-2 {
    padding: 30px 20px;
    width: 366.67px;
    height: 232px;
    background-color: #025595;
    /* box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.04), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185); */
    box-shadow: -1px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 12px -2px rgba(0,0,0,0.75);
    border-radius: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.container--card-2 p {
    color: rgba(255, 255, 255, 0.8);
}

/*************** We will help you to find  Dream Home ***********************/
.gallery--section--heading {
    height: 200px;
    width: 90%;
    margin: 2em 5em;
    /* border: 2px solid rosybrown; */
}

.gallery--section--heading > h4 {
    width:50%;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    /* or 140% */
    text-align: center;
    color: #16100D;
    margin-inline: auto;
}


.gallery--section--heading > p{
    width: 72%;
    margin-inline: auto;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    text-align: center;
    color: rgba(22, 16, 13, 0.5);
}

.gallery--image {
    width: 70%;
    margin: 40px auto;
    position: relative;
}
.gallery--image > img {
    width: 100%;
    height: 100%;
}

.gallery--card {
    position: absolute;
    width: 273px;
    height: 215px;
    left: -50px;
    top: 20%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
}

.gallery--card {
    position: absolute;
    width: 273px;
    height: 215px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
}

/* .card--1 {
    left: -50px;
    top: 20%;
}

.card--2 {
    height: 215px;
    right: 50px;
} */


/* Our most trending properties start */
.trending--properties--heading {
    width: 90%;
    margin-inline:auto;
    margin-top: 8em;
    margin-bottom: 3em;
    text-align: center;
}

.trending--properties--heading > h4 {
    font-family: 'Syne';
    color: brown;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    /* identical to box height, or 140% */
    text-align: center;
    color: #16100D;
}

.trending--properties--heading > p{
    width: 55%;
    margin:3em auto ;
    margin-top: 10px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    text-align: center;
    color: rgba(22, 16, 13, 0.5);
}

.trending--section {
    width: 73%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
}


.card {
    padding:10px;
    /* margin: 200px; */
    width: 280px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.04), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185);
    /* box-shadow: 0px 12px 37px -5px rgba(0, 0, 0, 0.5); */
    /* -webkit-box-shadow: 0px 12px 37px -5px rgba(0, 0, 0, 0.5);
    display: flex; */
    flex-direction: column;
    border-radius: 15px;
}

.card--img {
    position: relative;
    width: 250px;
    height: 230px;
    border-radius: 12px;
    padding: 0;
    margin: 0;
    
}

.card--cover--img {
    width: 100%;
    height: 100%;
    
}

.heart--incon {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 210px;
    top: 10px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
}

.card--price {
    margin-top: 1em;
    display: flex;
} 

.card--price > h6 {
    /* display: inline; */
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #025595;
}

.share--incone {
    /* display: inline; */
    width: 30px;
    height: 30px;
    margin-left: 120px;
    background: rgba(2, 85, 149, 0.05);
    border-radius: 2px;
    /*  */
}

.apartement--name {
    margin-top:0.5em;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;    
    line-height: 36px;
    /* or 150% */
    color: #16100D;
}

.card--facilits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 90px;
    margin-top: 1em;
}

.card--footer {
    margin-top: 1em;
}

.card--footer{
    display:flex;

}

.card--footer > p {
    width: 100%;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
/* Our most trending properties end */


.reating--card--heading {
    
}

/* *********** responsive web design ***********/

@media screen and (max-width: 1000px) {
    header{
        /* background-color: lightgreen;  */
        height: 550px;
        background-image: url(./imges/modern-residential-building-transformed\ 1.svg);
        background-repeat: no-repeat;
        background-position: 100% bottom;
        background-size: 70% 100%;
        background-color:rgba(239, 248, 255, 1);
    }

    nav {
        padding: 0;
    }
    
    .nav--bar {
        padding: 10px 60px;
    }
    .hero--section--heading {
        height: 100px;
        width: 90%;
        padding-top:15px ;
        /* border: 2px solid navy; */
    }

    .hero--section--heading > h1 {
        font-size: 47px;
        font-weight: 900;
    } 

    .hero--section--heading > p {
        /* border: 2px solid brown; */
        font-size:18px;
    }
    .header--form {
        margin-top: 8em;
        /* width: 100%; */
    }

    .header--signbord {
        margin-top:40px ;
    }

    .container {
        margin: 3em 2em;
    }


    ul li > a {
        display:none;
    }
  }





  @media screen and (max-width: 1240px) {
    .hero--section {
        margin-left: 3em ;
    }

    .nav--bar {
        padding:10px 3em;
        /* padding-right: 10px; */
    }

 
    
  }




  @media screen and (max-width: 1144px) { 

  }